.showdetail{
  min-width: 200px;
  padding: 10px;
  background-color: gainsboro;
  word-wrap: break-word;
}
.showout{
  width: 400px;
  height: 400px;
  background-color: #32be78;
  position: relative;
}
.showin{
  width: 100px;
  height: 100px;
  background-color: #e6a23c;
  position: relative;
}
.nostd{
  position: absolute;
  word-wrap: break-word;
  max-width: 100px;
  background-color: rgba(0,0,0,0.7);
  color: #ffffff;
  font-size: 12px;
  bottom: 100%;
  //left: 50%;
  //transform: translate(-50%,0);
}
.show{
  display: flex;
  padding-top: 80px;
}
.onetap{
  background-color: #f5f5f5;
  box-shadow: 2px 2px 2px 1px #cccccc;
  margin-bottom: 30px;
  padding: 20px;
}
